body {
    background-image: linear-gradient(#219c6b9a, #51dba4a6);
    background-repeat: no-repeat;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    width: 40%;
    margin: 100px auto 0 auto;

}

main img {

    width: 100%;
    margin: 0 auto;
}